[metadata]
name = quickmpc
version = {{ env['TAG_VERSION'] }}
author = Acompany

[options]
include_package_data = True
packages = find:
install_requires =
    numpy
    grpcio-tools==1.46.3
    pynacl
    tqdm
